/* 
    font-family: "Azeret Mono", monospace;
    font-family: "Poppins", sans-serif;
*/

/* ------- Common CSS ------- */



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(#E6E6FA, #B8E7FA);
}


ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 90%;
    max-width: 1260px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.main {
    display: flex;
}

.btn {
    display: inline-block;
    width: 248px;
    height: 64px;
    text-align: center;
    line-height: 64px;
    border-radius: 5px;
    background: linear-gradient(90deg, var(--c1, #FFA500), var(--c2, #FFD447) 51%, var(--c1, #FFA500)) var(--x, 0)/ 200%;

    color: #0D1321;
    font-size: 20px;
    font-weight: 600;
    filter: drop-shadow(3px 3px 5px rgba(128, 128, 128, 0.558));
    transition: 0.5s;
}

.btn:hover {
    --x: 100%;
    filter: drop-shadow(-3px -3px 5px rgba(128, 128, 128, 0.558));

}

.tittle {
    text-align: center;
    margin-bottom: 48px;
}

.tittle h1 {
    font-size: 32px;
    font-weight: 800;
    color: #0D1321;
    margin-bottom: 24px;
}

.tittle p {
    font-size: 16px;
    color: #0D1321;
    font-weight: 400;
}

/*  ------- Common CSS end ------- */




/* ------- Header CSS start ------- */
header {
    background: #fff;
    padding: 24px 0;
    border-bottom: 1px solid #C6DBFF;
    margin-bottom: 100px;
}

header .container {
    margin-bottom: 0;
}

header .main {
    justify-content: space-between;
}

header .logo {
    color: #0D1321;
    font-size: 28px;
    font-weight: 800;
}

header .logo span {
    color: #FFA500;
}

/* ------- Header CSS end ------- */



/* ------- hero CSS start ------- */
#hero_section {
    text-align: center;
}

#hero_section .container {
    background: #E6EDF9;
    border-radius: 15px;
    padding: 40px 0;
}

#hero_section h1 {
    font-size: 48px;
    font-weight: 800;
    color: #0D1321;
    margin-bottom: 24px;
}

#hero_section p {
    font-size: 16px;
    color: #0D1321;
    font-weight: 400;
    margin-bottom: 32px;
}

/* ------- hero CSS end ------- */


/* ------- about CSS start ------- */

#about_section .container {
    display: flex;
    justify-content: space-between;
    background: #E6EDF9;
    padding: 48px;
}

#about_section .container .left {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#about_section .container .left h1 {
    font-size: 24px;
    font-weight: 400;
    color: #0D1321;
    margin-bottom: 16px;
}

#about_section .container .left p {
    font-size: 16px;
    color: #0D1321;
    font-weight: 400;
    margin-bottom: 32px;
}

#about_section .container .right {
    width: 40%;
}

#about_section .container .right img {
    width: 100%;
}

/* ------- about CSS end ------- */


/* ------- inspiration CSS start ------- */

#inspiration_section .yt_video {
    text-align: center;
}

#inspiration_section .yt_video iframe {
    width: 966px;
    height: 543px;
    border-radius: 16px;
    padding: 32px;
    border: 1px solid #0D1321;
    transition: 0.5s;
}
#inspiration_section .yt_video iframe:hover {
    transform: scale(1.05);
    filter: drop-shadow(2px 1px 10px #0000007a);
   
}


/* ------- inspiration CSS end ------- */


/* ------- terget CSS start ------- */

#target_section .container {
    display: flex;
    justify-content: space-between;
}

#target_section .box {
    width: 30%;
    border-radius: 16px;
    filter: drop-shadow(5px 5px 5px rgba(128, 128, 128, 0.558));
    padding: 40px;
    background-image: linear-gradient(#E6EDF9, #9DE5FF);
    transition: .5s;
}

#target_section .box:hover {
    filter: drop-shadow(-5px -5px 10px rgba(128, 128, 128, 0.558));
    transform: translateY(-10px);
}

#target_section .box img {
    margin-bottom: 24px;
    transition: .5s;
}

#target_section .box h1 {
    font-size: 24px;
    font-weight: 800;
    color: #0D1321;
    margin-bottom: 26px;
}

#target_section .box a {
    text-decoration: underline;
    font-size: 24px;
    font-weight: 500;
    color: #0D1321;
    transition:  0.3s;
}

#target_section .box a:hover {
    color: #FFA500;
}


/* ------- terget CSS end ------- */

/* ------- footer CSS start ------- */
footer {
    background: #fff;
    padding: 32px 0;
}

footer .container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

footer .container .left {
    width: 50%;
}

footer .container .right {
    width: 50%;
    text-align: right;
}

footer .container .left p {
    line-height: 42px;
    font-size: 20px;
    font-weight: 500;
    font-family: "Azeret Mono", monospace;
}

footer .container .right img {
    margin-left: 24px;
}